*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
* {
	padding: 0;
	margin: 0;
	border: 0;
}
:focus,
:active {
	outline: none;
}

a:focus,
:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 100%;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a:visited {
	text-decoration: none;
}

ul li {
	list-style: none;
}
body {
	font-family: sans-serif;
	color: #ffffff;
}
.wrapper {
	margin-top: 30px;
}

.conteier {
	background-color: black;
	padding: 21px 20px;
	max-width: 364px;
	max-height: 582px;
	margin: 0 auto;
}
.screen {
	width: 324px;
	height: 96px;
	font-weight: 300;
	font-size: 96px;
	line-height: 96px;
	padding-bottom: 16px;
	margin-bottom: 16px;
	text-align: right;
}
.keyboard {
}
.keyboard__row {
	display: flex;
	justify-content: space-between;
}

.keyboard__content:last-child {
	background-color: #4b5efc;
}

.keyboard__content {
	width: 69px;
	height: 72px;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	line-height: 40px;
	text-align: center;
	background-color: #2e2f38;
	border-radius: 24px;
	margin-bottom: 16px;
	align-content: center;
	padding-top: 15px;
}
.keyboard__content:active{
	box-shadow: 5px 5px 10px #fff;
}
.deletion {
	padding-top: 20px;
}
.division {
}
.seven {
}
.eight {
}
.nine {
}
.multiply {
}
.foor {
}
.five {
}
.six {
}
.minus {
}
.one {
}
.two {
}
.three {
}
.plus {
}
.zero {
	width: 238.33px;
	height: 72px;
	background-color: #2e2f38;
	border-radius: 24px;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	line-height: 40px;
	text-align: center;
}

.clears {
	width: 153.33px;
	background-color: #4e505f;
}
